SplitJoinServiceBusApplication/SplitJoinProject/wsdl/SplitJoin.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="SplitJoinPipelineContract"
     targetNamespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"
     xmlns:tns="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"
     xmlns:inp1="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"
     xmlns:inp2="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"
             elementFormDefault="qualified">
            <element name="string" type="string"/>
            
            <element name="result">
              <complexType>
                <sequence>
                  <element name="resultBPELProcessA" type="xsd:string"/>
                  <element name="resultBPELProcessB" type="xsd:string"/>
                  <element name="resultBPELProcessC" type="xsd:string"/>
                </sequence>
              </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="response" element="tns:result"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/SplitJoinPipelineContract"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
