SplitJoinServiceBusApplication/SplitJoinProject/wsdl/TestSplitJoin.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="TestSplitJoin"
     targetNamespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"
     xmlns:tns="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"
     xmlns:inp1="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"
     xmlns:inp2="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"
             elementFormDefault="qualified">
            <element name="string" type="string"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="requestSequentialMessage">
        <wsdl:part name="sequentialOperationRequest" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="responseSequentialMessage">
        <wsdl:part name="sequentialOperationResponse" element="tns:string"/>
    </wsdl:message>
    
    <wsdl:message name="requestSliptJoinMessage">
        <wsdl:part name="splitJoinOperationRequest" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="responseSliptJoinMessage">
        <wsdl:part name="splitJoinOperationResponse" element="tns:string"/>
    </wsdl:message>
    
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="sequentialExecute">
            <wsdl:input message="tns:requestSequentialMessage"/>
            <wsdl:output message="tns:responseSequentialMessage"/>
        </wsdl:operation>
         <wsdl:operation name="splitJoinExecute">
            <wsdl:input message="tns:requestSliptJoinMessage"/>
            <wsdl:output message="tns:responseSliptJoinMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sequentialExecute">
            <soap:operation style="document" soapAction="sequentialExecute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"/>
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="splitJoinExecute">
            <soap:operation style="document" soapAction="splitJoinExecute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/SplitJoinServiceBusApplication/SplitJoinProject/TestSplitJoin"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
